/* Empty. Add your own CSS if you like */
.currentTemp {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  margin-bottom: 5%;
}

.currentTempSmall {
  text-align: center;
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.currentTempHeader {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}


.votewarning {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}


.paneicon {
  font-size: 45px;
  text-align: center;
  margin-bottom: 3%;
}

.skywardbutton {
  padding-left: 2%;
  padding-right: 2%;
}

.centered {
  text-align: center;
}

.skywardimage {
  padding-left: 17px;
}